/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap"; 

body {
  font-family: "Crete Round", serif;
  background-color: #16697a;
  color: #db6400;
  font-size: large;
  margin-top: 25px;
}
a {
  color: #ffa62b;
}

.top {
  font-family: fantasy;
}

h1 {
  font-size: 44px;
}

.container {
  background-color: #f8f1f1;
  opacity: 80%;
  padding-bottom: 3%;
  padding-top: 3%;
}

hr {
  border-color: #16697a;
  border-width: 2px;
}


